<header>
	<nav>
		<div class="main-links">
			<a class="logo" href="/">הסדנא לידע ציבורי</a>
			<ul id="site-sections">
				<li><a href="#">אודות</a></li>
				<li><a href="#">הכלים שלנו</a></li>
				<li><a href="#">חדשות ואירועים</a></li>
				<li><a href="#">פורום</a></li>
			</ul>
		</div>
		<div class="secondary-links">
			<ul class="social-links">
				<li><a href="https://twitter.com/{{ site.twitter_username }}" aria-label="twitter account"></a></li>
				<li><a href="https://facebook.com/{{ site.facebook_username }}" aria-label="facebook page"></a></li>
				<li><a href="https://github.com/{{ site.github_username }}" aria-label="github page"></a></li>
				<li><a href="https://youtube.com/user/{{ site.youtube_username }}" aria-label="youtube channel"></a></li>
			</ul>
			<ul id="languages">
				<li><a href="#" class="active">עברית</a></li>
				<li><a href="#">العربية</a></li>
				<li><a href="#">English</a></li>
			</ul>
			<a class="accessibility" href="#">נגישות</a>
		</div>
	</nav>
</header>
