<nav id="navbar">
	<a class="logo" href="/">הסדנא לידע ציבורי</a>
	<ul id="site-sections">
		<li><a href="#">אודות</a></li>
		<li><a href="#">הכלים שלנו</a></li>
		<li><a href="#">חדשות ואירועים</a></li>
		<li><a href="#">פורום</a></li>
	</ul>
	<ul class="social-links">
		<li><a href="#">twitter</a></li>
		<li><a href="#">facebook</a></li>
		<li><a href="#">github</a></li>
		<li><a href="#">youtube</a></li>
	</ul>
	<ul id="languages">
		<li><a href="#" class="active">עברית</a></li>
		<li><a href="#">العربية</a></li>
		<li><a href="#">English</a></li>
	</ul>
	<a class="accessibility" href="#">נגישות</a>
</nav>
