header {

	@extend .full-width;

	& > nav {

		height: $navbar-height;
		display: block;

		ul {
			@include nav-list;
		}

		a {
			@include plain-link;
			color: $navbar-item-color;
			font-size: $navbar-item-font-size;
			padding-right: $navbar-item-padding;
			padding-left: $navbar-item-padding;
		}

		.main-links {
			float: right;
		}

		.secondary-links {
			float: left;
		}
	}
}
