header {

	@extend .full-width;

	ul {
		@include nav-list;
	}

	a {
		@include plain-link;
		line-height: $navbar-height;
		height: $navbar-height;
		color: $navbar-item-color;
		font-size: $navbar-item-font-size;
		padding-right: $navbar-item-padding;
		padding-left: $navbar-item-padding;
		text-align: middle;
	}

	.main-links {
		float: right;
	}

	.secondary-links {
		float: left;
	}

	.social-links {

		a {
			@include circled($navbar-item-color);
		}

		a[href*="twitter"] {
			@include icon("\f099")
		}

		a[href*="facebook"] {
			@include icon("\f09a")
		}

		a[href*="github"] {
			@include icon("\f09b")
		}

		a[href*="youtube"] {
			@include icon("\f16a")
		}

	}
}
