@mixin plain-link {
	text-decoration: none;
}

@mixin nav-list() {
	list-style: none;
	display: inline-block;

	li {
		display: inline-block;
	}
}

@mixin icon($unicode) {
	&:before {
		font-family: FontAwesome;
		content: $unicode;
	}
}
