@mixin plain-link {
	text-decoration: none;
}

@mixin nav-list() {
	list-style: none;
	display: inline-block;

	li {
		display: inline;

		a {
			@include plain-link;

		}
	}
}

@mixin icon($unicode) {
	&:before {
		@extend .fa;
		content: $unicode;
	}
}
