#navbar {

	height: $navbar-height;

	&:after {
		display: block;
		content: "";
	}

	ul {
		@include nav-list;
	}

	a {
		@include plain-link;
	}

	.main-links {
		float: right;
	}

	.secondary-links {
		float: left;
	}

}
