// COLORS

$brand-color:                    			 #3267B4;
$brand-dark-color:						   			 #122D4E;
$brand-grey:									   			 #E7EBF0;

// NAVBAR

$navbar-height:                     			87px;
$navbar-item-font-size:					    			18px;
$navbar-item-color:    			 $brand-dark-color;
$navbar-item-margin:						    			12px;
$navbar-item-line-height:									38px;
$navbar-icon-font-size:										26px;
