---
layout: base
---
<header>
	<h1>
		{{ page.title }}
		<small>{{ page.tagline }}</small>
	</h1>

	{% for screenshot in page.screenshots %}
		<img src="/img/projects{{ page.url }}{{ screenshot }}">
	{% endfor %}

</header>

{{ page.content }}

<a class="btn btn-default" href="http://{{ page.link }}">לאתר הפרויקט</a>
<a class="btn btn-default" href="http://github.com/{{ page.github-repo }}">לגיטהאב</a>
<a class="btn btn-default" href="http://facebook.com/{{ page.facebook-handle }}">לפייסבוק</a>

{% for item in page.press %}
	<div class="press-item">
		<h3>
			{{ item.title }}
			<small>{{ item.source }}</small>
		</h3>
		<a href="{{ item.link }}">לכתבה המלאה</a>
</div>
{% endfor %}
